{% extends "fridge_app/base.html" %}

{% block content %}

    <h1>Fridge List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        {% for fridge in fridge_list %}
            <tr>
                <td>{{ fridge.id }}</td>
                <td><input type="text" name="name" value="{{ fridge.name }}" class="form-control form-control-sm"></td>
                <td><input type="text" name="location" value="{{ fridge.location }}"
                           class="form-control form-control-sm"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">Save</button>

{% endblock content %}
