{% extends "fridge_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Item Update</h1>
    <div class="d-flex flex-column">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}

            <input class="btn btn-success" type="submit" value="Update">
        </form>
        <form class="form mt-2" method="POST" action="{% url 'item_delete' pk=item.pk %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>
{% endblock content %}
