{% extends "fridge_app/base.html" %}

{% block content %}
    <h1>Item Update</h1>
    <form class="form" method="POST" action="{% url 'item_update' pk=item.pk %}">
        {% csrf_token %}

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Fridge</th>
                    <th>Expiry Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" name="name" value="{{ item.name }}"
                               class="form-control form-control-sm"></td>
                    <td><input type="text" name="qty" value="{{ item.qty }}"
                               class="form-control form-control-sm"></td>
                    <td><input type="text" name="category" value="{{ item.category }}"
                               class="form-control form-control-sm"></td>
                    <td><input type="text" name="fridge" value="{{ item.fridge.name }}"
                               class="form-control form-control-sm"></td>
                    <td><input type="text" name="expiry_date"
                               value="{{ item.expiry_date |date:"Y-m-d" }}"
                               class="form-control"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between">
            <button class="btn btn-primary" type="submit">Update</button>
            <div style="width: 10px;"></div> <!-- Add small space between buttons -->
            <form class="form" method="POST" action="{% url 'item_delete' pk=item.pk %}">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </form>
{% endblock content %}
