{% extends "fridge_app/base.html" %}

{% block content %}
    <h1>Item List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Fridge</th>
                <th>Expiry Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in item_list %}
                <tr>
                    <td><a href="{% url 'item_update' item.id %}" readonly>{{ item.name }}</a></td>
                    <td><a href="{% url 'item_update' item.id %}" readonly>{{ item.qty }}</a></td>
                    <td><a href="{% url 'item_update' item.id %}" readonly>{{ item.category }}</a></td>
                    <td><a href="{% url 'item_update' item.id %}" readonly>{{ item.fridge.name }}</a></td>
                    <td><a href="{% url 'item_update' item.id %}" readonly>{{ item.expiry_date |date:"Y-m-d" }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-primary" type="submit">Save</button>

{% endblock content %}
